<div class="col-sm-4 panel">
    <div class="panel-body">
        <div class="media">
            <div class="media-left" data-dojo-attach-point="headerNode">
                <img src="${avatar}" />
            </div>
            <div class="media-body">${item.title}<span class="${fontAwesome.setting} pull-right" title="config"></span></div>
        </div>
        <ul class="list-group" data-dojo-attach-point="listNode"></ul>
        <div class="text-right view-more" data-dojo-attach-point="moreNode">MORE</div>
    </div>
</div>
