<div>
    <div class="container-fluid full-height">
        <div class="row full-height clearfix">
            <section class="col-sm-5 full-height">
                <div class="pos-abs-full">
                    <header class="list-header" data-dojo-attach-point="topNode">
                        <section class="clearfix">
                            <span class="span-all-post">${nls.list}</span>
                        </section>
                    </header>
                    <section class="post-list-wrap" data-dojo-attach-point="centerNode"></section>
                </div>
            </section>
            <section class="col-sm-7 full-height">
                <div class="pos-abs-full list-preview-wrap">
                    <header class="list-preview-header clearfix" data-dojo-attach-point="headNode"></header>
                    <section class="list-preview-section" data-dojo-attach-point="previewNode">
                        <div class="post-template">
                            <h2 class="list-preview-title" data-dojo-attach-point="postTitleNode"></h2>
                            <span class="post-published-by">
                                <span class="status">${nls.writtenBy}</span>
                                <span class="author" data-dojo-attach-point="authorNode"></span>
                            </span>
                            <div class="list-preview-content" data-dojo-attach-point="contentPreviewNode"></div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
