<div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formNode">
        <h4 class="text-center">当前[博客]设置</h4>
        <div class="form-group clearfix">
            <span class="control-label col-sm-3">${nls.dataX}</span>
            <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
                <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                    <li> </li>
                    <li>20</li>
                    <li>40</li>
                    <li>60</li>
                    <li>80</li>
                    <li> </li>
                </ol>
            </div>
        </div>
        <div class="form-group clearfix">
            <span class="control-label col-sm-3">${nls.dataY}</span>
            <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
                <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                    <li> </li>
                    <li>20</li>
                    <li>40</li>
                    <li>60</li>
                    <li>80</li>
                    <li> </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <span class="control-label col-sm-3">${nls.dataZ}</span>
        <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1,minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
            <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                <li> </li>
                <li>20</li>
                <li>40</li>
                <li>60</li>
                <li>80</li>
                <li> </li>
            </ol>
        </div>
    </div>
    <div class="form-group clearfix">
        <span class="control-label col-sm-3">${nls.dataScale}</span>
        <div class="col-sm-3" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
            <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                <li>-2</li>
                <li>0</li>
                <li>2</li>
            </ol>
        </div>
    </div>
    <div class="form-group clearfix">
        <span class="control-label col-sm-3">${nls.dataRotate}</span>
        <div  class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
            <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                <li> 0</li>
                <li>90</li>
                <li>180</li>
                <li>270</li>
                <li> 360</li>
            </ol>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color:red">
            更多3D设置
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <div class="form-group clearfix">
                    <span class="control-label col-sm-3">${nls.dataRotateX}</span>
                    <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
                        <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                            <li>30</li>
                            <li>90</li>
                            <li>180</li>
                            <li>270</li>
                            <li> 360</li>
                        </ol>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group clearfix">
                    <span class="control-label col-sm-3"> ${nls.dataRotateY}</span>
                    <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
                        <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                            <li> 0</li>
                            <li>90</li>
                            <li>180</li>
                            <li>270</li>
                            <li> 360</li>
                        </ol>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group clearfix">
                    <span class="control-label col-sm-3">${nls.dataRotateZ}</span>
                    <div class="col-sm-8" name="horizontalSlider" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:1, minimum:-10, maximum:10, discreteValues:11, intermediateChanges:true, showButtons:false">
                        <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="height:1.5em;font-size:75%;color:gray;">
                            <li> 0</li>
                            <li>90</li>
                            <li>180</li>
                            <li>270</li>
                            <li> 360</li>
                        </ol>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer text-center">
        <div class="clearfix checkbox checkbox-primary publicYN">
            <label class="checkbox">
                <input name="" type="checkbox" value="yes" data-dojo-attach-point="shareNode">
                <small>公开</small>
            </label>
        </div>
        <a class="btn-sm" data-dojo-attach-point="cancelNode">${nlsCommon.cancel}
                </a>
        <a class="btn btn-primary btn-raised btn-sm" data-dojo-attach-point="saveNode">${nlsCommon.save}
                </a>
    </div>
</div>
