<div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formNode">
        <div>
            <label>data-x:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-x"/>
        </div>
        <div>
            <label>data-y:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-y" />
        </div>
        <div>
            <label>data-z:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-z" />
        </div>
        <div>
            <label>data-scale:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-scale" />
        </div>
        <div>
            <label>data-rotate:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-rotate"/>
        </div>
        <div>
            <label>data-rotate-x:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-rotate-x" />
        </div>
        <div>
            <label>data-rotate-y:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-rotate-y" />
        </div>
        <div>
            <label>data-rotate-z:</label>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="data-rotate-z" />
        </div>
        <div>
            <a class="btn btn-default backBtn" data-dojo-attach-point="cancelNode">cancel</a>
            <a class="btn btn-default" data-dojo-attach-point="saveNode">save</a>
        </div>
    </div>
</div>
