<div>
 <!--  <a class="close" href="javascript:void(0);" data-dojo-attach-point="closeNode"> <i class="fa fa-times-circle"></i>
  </a> -->
  <ul>
    <li>
      <div data-dojo-type="dijit.ColorPalette" data-dojo-attach-point="colorPickerNode"></div>
    </li>
    <li>
      <label>${nls.fontFamily}</label>
      <select name="select1" data-dojo-type="qfacex/dijit/selection/Select" data-dojo-attach-point="ffSelectorNode">
        <option value="Serif" selected="selected">Serif</option>
        <option value="Sans-serif">Sans-serif</option>
        <option value="Monospace">Monospace</option>
        <option value="Tahoma">Tahoma</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Optima">Optima</option>
        <option value="Avant Garde">Avant Garde</option>
        <option value="Garamond">Garamond</option>
        <option value="Georgia">Georgia</option>
        <option value="News Gothic">News Gothic</option>
        <option value="Helvetica">Helvetica</option>
        <option value="'宋体'">'宋体'</option>
        <option value="'微软雅黑'">'微软雅黑'</option>
        <option value="News Gothic">News Gothic</option>

      </select>
    </li>
    <li>
      <label>${nls.fontSize}</label>
      <select name="fontSizeSelect" data-dojo-type="qfacex/dijit/selection/Select" data-dojo-attach-point="fsSelectorNode">
        <option value="12px">12px</option>
        <option value="13px">13px</option>
        <option value="14px" selected="selected">14px</option>
        <option value="15px">15px</option>
        <option value="16px">16px</option>
        <option value="17px">17px</option>
        <option value="18px">18px</option>
        <option value="19px">19px</option>
        <option value="20px">20px</option>
      </select>
    </li>
  </ul>
</div>
