.list-preview-wrap {
    border-left: 1px solid $border-color;
}

.pop-content-wrap,
.list-preview-header {
    .btn-group {
        box-shadow: none;
        margin: 10px 1px 0;
    }
    .btn {
        border: none;
    }
}

.list-header,
.list-preview-header {
    border-bottom: 1px solid $border-color;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.span-all-post {
    line-height: 48px;
    font-size: 1.2em;
    font-weight: 500;
    color: $textColor;
}

.post-list-wrap,
.list-preview-section {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.list-preview-section {
    .post-template {
        position: relative;
        width: 60%;
        margin: 20px auto;
        .list-preview-title {
            margin: 0;
            @include wordEllipsis;
        }
    }
}

.post-published-by {
    font-size: 12px;
    color: #999;
}

.list-preview-content {
    // padding-top: 20px;
    word-break: break-all;
}

$bgHoverActive: #eee;
.posts-list {
    list-style: none;
    .active {
        @include box-shadow(inset 5px 0 0 0 #dfd4d4);
        background: $bgHoverActive;
    }
    .post-item {
        padding: 10px 20px;
        border-bottom: 1px solid $border-color;
        .title {
            word-wrap: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &:hover {
            background: $bgHoverActive;
        }
        &:active {
            background: $bgHoverActive;
        }
        .post-title {}
        .post-publised {}
    }
}
